
.header{
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
 
}

.nav-bar-options:hover{
    color: white
}

.banner{
    display: flex;
    background: #171d25;
    position: fixed;
    width: 100%;
    height: 13%;
    top: 0%;
    right: 0%;
    left: 0%;
    overflow: hidden;
    z-index: 100;

}


.nav-bar-options {
    margin: 3% 0% 0% 0%;
    display: block;
    position: relative;
    line-height: 16px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding :5px;
}

.steam-logo-navbar {
    margin: 1% 1% 0% 16%;
    width: 180px;
    height: 80px;
}



.bungus{
    background-color: #32353c;
    border:none;
    outline: none;
    height: 30px;
    width: 60%;
   color: white;
   
    
}
.booger{
    margin-top: 8%;
    background-color: #181a21;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    height: 250pt;
    width: 60pt;
   
    
}
.why{
   text-align: flex-start;
   height:20pt;
   padding:20px;
   display:block;
   width: 400pt;

}
.whyd{
    text-align: flex-start;
    height:20pt;
    padding:20px;
    display:block;
    margin-bottom:200px;
    width: 400pt;

}
.img{
    height:13px;
    width:15px;
    position: absolute;
    margin-left:-25px;
    margin-top: -1px;
}

.but{
    color:lightgray;
    background-color:#5d7e11;
    height: 25px;
    width: 110px;
    border: none;
    margin-top:5px;
    font-size: 12px;
    padding-left: 10px;
    text-align: end;
    
    
}
.but:hover{
    color: white;

}
.move{
    position:relative;
    left: 140px;
}
.slass{
    color:grey;
    position: relative;
    font-size: 12px;
    left:120px;
    bottom: 60px;
    
}
.slass:hover{
    color: white
    

}
.slasss{
    color:grey;
    position: relative;
    font-size: 12px;
    left:175px;
    bottom: 127px;
    
    

}
.slasss:hover{
    color:white
}
.tab{
    color:grey;
    display:block;
    font-size:small;
 
}
.tabs{
    color: 
    #0eaffe;
    display:block;
    font-size:small;
    text-wrap:nowrap;

}
.nav-bar-option{
margin: 3% 0% 0% 0%;
display: block;
position: relative;
line-height: 16px;
color: 
#0eaffe;
text-decoration: underline 
#0eaffe;
text-transform: uppercase;
font-size: 16px;
font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
font-weight: bold;
text-transform: uppercase;
padding :5px;

}
.bg{
    background-image: url(steam-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.head{
    color:white;
    margin: 13% 35.5% -3% 0%;
    font-family:"Motiva Sans", Sans-serif;;
}
.bring{
    text-align: center;
    height: 10pt;
    
}
.blue{
    text-align: start;
    height:4px;
    display:block;
    width: auto;
    margin-bottom: 3px;
}
.to_many{
    color: #fff;
    background-color:  #0eaffe;
    height:40pt;
    width: 220pt;
    
}

.rem {
    color: white;
}

.backgrounddiv {
    width: 45%;
    background-color: rgb(24, 26, 33);
    border-radius: 5px;
}

.wholecontainer {
    margin: 5% 0% 0% 0%;
    display: flex;
    justify-content: center;
}

.sign-in-cont {
    display: flex;
    justify-content: center;
}

.acc-name-sn-words {
    margin: 0% 0% 0% 5%;
    color: #0eaffe;
    font-size: 10pt;
}

.sign-in-txtbox {
    margin: -4.3% 0% 0% 5%;
    width: 70%;
    height: 5vh;
    background-color: rgb(50, 53, 60);
    border:none;
}
