
.header{
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-bar-options:hover{
    color: white
}
.header:active{
 color:blue;
}
.banner{
    display: flex;
    background: #171d25;
    position: fixed;
    width: 100%;
    height: 13%;
    top: 0%;
    right: 0%;
    left: 0%;
    overflow: hidden;
    z-index: 100;

}


.nav-bar-options {
    margin: 3% 0% 0% 0%;
    display: block;
    position: relative;
    line-height: 16px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding :5px;
}

.steam-logo-navbar {
    margin: 0% 0% 0% 16%
}
.header_installsteam_btn{
    color: white;
    background-color: rgb(77, 153, 77);
    height: 30px;
}

.bungus{
    background-color: #32353c;
    border:none;
    outline: none;
}
.booger{
    margin-top: 8%;
    background-color: #181a21;
}