

.nav-bar-options:hover{
    color: white
}

.banner{
    display: flex;
    background: #171d25;
    position: absolute;
    width: 100%;
    height: 13%;
    top: 0%;
    right: 0%;
    left: 0%;
    overflow: hidden;
    z-index: 100;

}


.nav-bar-options {
    margin: 3% 0% 0% 0%;
    display: block;
    position: relative;
    line-height: 16px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding :5px;
}

.steam-logo-navbar {
    margin: 1% 1% 0% 16%;
    width: 180px;
    height: 80px;
}

.img{
    height:13px;
    width:15px;
    position: absolute;
    margin-left:-25px;
    margin-top: -1px;
}

.but{
    color:lightgray;
    background-color:#5d7e11;
    height: 25px;
    width: 110px;
    border: none;
    margin-top:5px;
    font-size: 12px;
    padding-left: 10px;
    text-align: end;
    
    
}
.but:hover{
    color: white;

}
.move{
    position:relative;
    left: 140px;
}
.slass{
    color:#a8a7a7;
    position: relative;
    font-size: 12px;
    left:120px;
    bottom: 60px;
    
}
.slass:hover{
    color: white
    

}
.slasss{
    color:#a8a7a7;
    position: relative;
    font-size: 12px;
    left:175px;
    bottom: 127px;
    
    

}
.slasss:hover{
    color:white
}

.nav-bar-option{
margin: 3% 0% 0% 0%;
display: block;
position: relative;
line-height: 16px;
color: 
#0eaffe;
text-decoration: underline 
#0eaffe;
text-transform: uppercase;
font-size: 16px;
font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
font-weight: bold;
text-transform: uppercase;
padding :5px;

}
.bg{
    background-image: url(steams.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}
.head{
    color:white;
    margin: 13% 35.5% -3% 0%;
    font-family:"Motiva Sans", Sans-serif;;
}


.backgrounddiv {
    width: 50%;
    background-color: rgb(24, 26, 33);
    border-radius: 5px;
}

.wholecontainer {
    margin: 4.7% 0% 0% 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.sign-in-cont {
    display: flex;
    justify-content: center;
}

.acc-name-sn-words {
    margin: 0% 0% 0% 5%;
    color: #0eaffe;
    font-size: 10pt;
    padding-top: 3%;
}

.sign-in-txtbox {
    margin: -4.3% 0% 0% 5%;
    width: 50%;
    height: 5vh;
    background-color: rgb(50, 53, 60);
    border:none;
    border-radius: 2px;
}
.pass{
    margin: -4.3% 0% 0% 5%;
    width: 50%;
    height: 5vh;
    background-color: rgb(50, 53, 60);
    border:none;
    border-radius: 2px;
}
.word{
    margin: 0% 0% 0% 5%;
    color: #a8a7a7;
    font-size: 10pt;
}
.rem{
    margin-top:-4.8%;
    margin-left: 3.5%;
    margin-right: 6;
    color:#a8a7a7;
    font-size: 10pt; 

}

.box{
    justify-content: space-evenly;
    margin-left: 3%;
    padding-top: 0%;
    padding: 2%;
    
    
}
.check{
    height:3vh;
    width: 3vh;
    background-color: #32353c;
    border:none;
   
   
    
}       
.sign{
    color: #fff;
    background-color:  #0eaffe;
    height:7vh;
    width: 20vw;
    border: none;
    font-size: 13pt;
    border-radius: 3px;
}
.sn{
    justify-items: center;
    text-align: center;
    
    margin-left: 10%;
    width: fit-content;
}
.cant{
    text-align: center;
    text-decoration: underline;
    color: #a8a7a7; 
    margin-top: 20%;
    font-size: 10.5pt;
    
    
}
.qr{
    height: auto;
    width: 15vw;
    display: block;
    border-radius: 5%;
    
 
    
    

}
.qr_code{
    position: absolute;
    top: 46%;
    right: 28%;

   
}


.snq{
    color: #0eaffe;
    font-size: 10pt;
    text-align: end;
    
   
}
.work{
    position: absolute;
    top: 41%;
    right: 33.8%

}
.use{
    color: #a8a7a7; 
    text-wrap: wrap;
    text-align: end;
    position: relative;
    font-size: 11pt;
    
}
.underlined{
    text-decoration: underline;
}
.few{
    position: absolute;
    word-wrap: break-word;
    top: 77%;
    right: 28.5%;
    bottom: 20%;
   
}
.uses{
    color: #a8a7a7; 
    text-wrap: wrap;
    text-align: end;
    position: absolute;
    top: 137%;
    right:28%;
   
}
.close{
   
    overflow: hidden;
    position: relative;
    bottom: 0%;
    left: 0%;
    right: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #171d25;
    height: 20%;
    color: #a8a7a7; 
    padding: 3%;
    width: 100%;

}
.font{
    color:white
}
.footer-text{
    margin: 5%;
    width: 100%;
}

.press{
    position: absolute;
    right: 60%;
    bottom: 30%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: #0eaffe;
    border: none;
    color: #fff;
    font-size: 12pt;


}
.new{
    color:white;
    font-family:"Motiva Sans", Sans-serif;;
    position: absolute;
    right: 59%;
    bottom:40%;
}
